.LocationPickerPopover {
  min-width: 225px;
  padding: var(--p-space-2) 0;
}

.LocationSearchFieldWrapper {
  padding: var(--p-space-2) var(--p-space-2) var(--p-space-0);
}

.LocationPickerListbox {
  margin-top: var(--p-space-2);
}

.LocationPickerOption {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.LocationPickerOptionName {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
